.entry {
  background-image: url("/img/eggshell_dots.png");
  background-repeat: repeat;

  background-color: var(--pl_white);

  display: block;
  border-style: solid;
  border-radius: 2px;
  border-width: 1px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 15px;
  padding-top: 5px;
}

@media (orientation: portrait) and (pointer: none) {
  .entry {
    margin-left: auto;
    margin-right: auto;
    width: 95%;

    font-size: 1.85vh;
  }
}

.entry_header {
  /* background-color: green; */

  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 10px;
  margin-right: 10px;

  text-align: right;
}

.entry_contents {
  max-height: 120px;
  overflow-y: hidden;
}

.entry_expand_button {
  background-color: white;
  box-shadow: 0px 3px 5px grey;
  
  display: block;
  border-style: solid;
  border-color: black;
  border-radius: 3px;
  border-width: 1px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: 10px;

  transform: translate(-0px, -0px);
  transition: transform 0.1s ease-in-out
    , box-shadow 0.1s ease-in-out;
}

@media (orientation: portrait) and (pointer: none) {
  .entry_expand_button {
    font-size: 1.85vh;
  }
}

.entry_expand_button:hover {
  background-color: white;
  box-shadow: 0px 5px 7px grey;
  
  transform: translate(-0px, -2px);
  transition: transform 0.1s ease-in-out
    , box-shadow 0.1s ease-in-out;
}

.entry_expand_button:hover:active {
  background-color: grey;
  box-shadow: 0px 3px 5px grey;
  
  transform: translate(-0px, -0px);
  transition: transform 0.1s ease-in-out
    , box-shadow 0.1s ease-in-out;
}

.entry_image {
  /* background-color: red; */

  display: block;
  border-style: solid;
  border-width: 1px;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  max-width: 350px;
  max-height: 200px;

  align-self: center;
}

.entry_text {
  /* background-color: red; */

  display: block;
  margin: 10px;
}

@media (orientation: portrait) and (pointer: none) {
  .entry_text {
    font-size: 1.85vh;
  }
}